name: Publish Modules

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: 'Whether this release is a prerelease'
        default: 'true'
        required: true

jobs:
  publish:
    name: Build module and publish
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}   # checkout the correct branch name
          fetch-depth: 0                # fetch the whole repo history

      - name: Setup Java JDK
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'adopt'
          cache: 'gradle'

      - name: Git Version
        uses: codacy/git-version@2.5.4
        id: version
        with:
          release-branch: main
          log-paths: ./

      - name: Publish to Maven
        run: ./gradlew  publishToSonatype --max-workers 1 closeAndReleaseSonatypeStagingRepository
        env:
          ORG_GRADLE_PROJECT_ossrhUsername: ${{ secrets.ORG_GRADLE_PROJECT_OSSRHUSERNAME }}
          ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.ORG_GRADLE_PROJECT_OSSRHPASSWORD }}
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEYID }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEY }}
          ORG_GRADLE_PROJECT_version: ${{ steps.version.outputs.version }}

      - name: Publish to NPM
        run: ./gradlew publishJsNpmPublicationToNpmjs
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEYID }}
          ORG_GRADLE_PROJECT_npmToken: ${{ secrets.ORG_GRADLE_PROJECT_npmToken }}
          ORG_GRADLE_PROJECT_version: ${{ steps.version.outputs.version }}

      - name: Build Android Sample
        run: ./gradlew :android:sample:assembleRelease

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1.9.0
        with:
          commit: ${{ env.GITHUB_SHA }}
          tag: ${{ steps.version.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: ${{ github.event.inputs.prerelease }}
          generateReleaseNotes: true
          artifacts: 'android/sample/build/outputs/apk/release/sample-release.apk'
